@tailwind base;
@tailwind components;
@tailwind utilities;
.chat-rtl {
  direction: rtl;
}
.chat-rtl {
  direction: ltr;
}
body {
  height: 100vh;
}
.messages > div::-webkit-scrollbar {
  display: none;
}
