@tailwind base;
@tailwind components;
@tailwind utilities;
.chat-rtl {
  direction: rtl;
}
.chat-rtl {
  direction: ltr;
}

.messages::-webkit-scrollbar {
  display: none;
}
.scrollerDiv > div::-webkit-scrollbar {
  display: none;
}
.scrollerDiv > div {
  width: 100%;
  overflow-x: hidden;
}
.scrollerDiv > button {
  display: none;
}
.messages {
  width: 100%;
  overflow-x: hidden;
}
