@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hiden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hiden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.otp-input::-webkit-outer-spin-button,
.otp-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.otp-input[type="number"] {
  -moz-appearance: textfield;
}
